@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1, .tiptap h1, h2, .tiptap h2 {
  display: inline-block;
  margin: 1em 0 0.5em 0;
}

h1, .tiptap h1 {
  font-size: 2em;
  font-family: 'linuxLibertine';
}

h2, .tiptap h2 {
  font-size: 1.5em;
  font-family: 'linuxLibertine';
  border-bottom: 1px solid gray;
  padding-bottom: 0.5em;
  width: 100%;
}

ul, .tiptap ul {
  margin: 1.5em;
  list-style-type: disc;
}

ol, .tiptap ol {
  margin: 1.5em;
  list-style: auto;
}

p, .tiptap p {
  margin: 1em 0;
}

a {
  color: #36c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'linuxLibertine';
  src: url('/public/fonts/LinLibertine_R.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
